<div class="bg-dark border-right p-3" id="sidebar">
  <h3 class="text-light">
    GifsApp
  </h3>
  <hr class="text-light">
  <div class="list-group list-reset">
    <!--usar ngfor para iterar el servicio-->
    <!--variabel tag que itera en el get tags-->
    <!--evento click para disparar el metodo de searchTag-->
    <button *ngFor="let tag of tags"
    class="list-group-item list-group-item-action"
    (click)="searchTag(tag)">
    <!--imprime la variable tag que itera el array de tags con los gigs buscados-->
    <!-- pipe | uppercase muta visualmente sin cambiar la data real -->
    {{tag | titlecase }}
    </button>

  </div>

</div>
